 @font-face {
   font-family: MyFont;
   src:  url('./fonts/Charmonman-Regular.ttf');
 }

.hello {
    width: 400px;
    font-size: 30px;
    color: #555555;
    font-family: MyFont;
    border: 1px solid #555555;
    padding: 10px;
    border-radius: 5px;
}

.hello img {
  width: 100%;
}
